<h3>Users Index</h3>

<% @users.each do |user| %>
  <% next if current_user.id == user.id %>
  <% status = @friend_ids.include?(user.id) ? "friended" : "unfriended" %>
  <% value = @friend_ids.include?(user.id) ? "Unfriend" : "Add Friend" %>

  <div>
    <%= user.username %>
    <form action="<%= user_friendship_url(user) %>" class="friend-form">
      <input type="submit" value="<%=value%>" data-status="<%=status%>">
    </form>
  </div>
<% end %>

<script>
  $(".friend-form").find('input[type="submit"]').on("click", function(event) {
    event.preventDefault();
    var $button = $(this);
    var url = $(this.form).attr('action');
    var type = "POST";
    var result = "Unfriend";
    var status = "friended";

    if ($button.attr('data-status') === "friended") {
      type = "DELETE";
      $button.attr("value", "Unfriending...");
      result = "Add Friend";
      status = "unfriended";
    }
    else {
      $button.attr("value", "Friending...");
    }

    $.ajax({
      url: url,
      type: type,
      success: function(response) {
        console.log(response);
        $button.attr("value", result);
        $button.attr("data-status", status);
      }
    });
  });
</script>